.info_section {
    background-color: #252525;
    color: #fff;
    padding: 75px 32px;
}

.info_section_name {
    font-weight: 800;
    font-size: 38px;
    font-family: 'Baloo Chettan', cursive;
}

.info_section_des {
    width: 85%;
}

.info_sectionLink_heading {
    font-size: 20px;
    font-weight: 800;
}

.info_sectionLink_list {
    padding: 0 0 0 16px;
}

.info_sectionLink_item {
    list-style: none;
    margin: 4px 0;
}

.info_sectionLink_item a {
    text-decoration: none;
    color: #fff;
}

.info_sectionLink_item::before {
    content: "•";
    font-size: 32px;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 12px;
    margin-left: -12px;
}

.info_sectionInsta_containerImg {
    margin: 0 6px
}

.info_sectionInsta_heading {
    font-size: 20px;
    font-weight: 800;
}

.info_sectionInsta_img {
    margin: 6px;
}

.info_sectionContact_heading {
    font-size: 20px;
    font-weight: 800;
}

.info_sectionContact_list {
    padding-left: 0;
    list-style: none;
}

.info_sectionContact_item {
    margin: 16px 0;
}

.info_sectionContact_item i{
    margin-right: 16px;
}

.active {
    color: #e1603a;
}

/* Responsive */

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .info_sectionContact_item i{
        margin-right: 12px;
    }

    .info_sectionInsta_containerImg {
        margin-right: 12px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */

@media (max-width: 739px) {
    .info_sectionIntro {
        text-align: center;
        margin-bottom: 48px;
    }
    .info_section {
        padding: 75px 12px;
    }
    .info_section_des {
        width: 100%;
    }

    .info_sectionLink {
        text-align: center;
        margin-bottom: 48px
    }
    .info_sectionLink_item {
        width: fit-content;
        margin-left: 40%;
    }
    .info_sectionInsta {
        text-align: center;
        margin-bottom: 48px;
    }
    .info_sectionInsta_containerImg {
        margin: 0 -12px;
    }
    .info_sectionContact {
        text-align: center;
    }
    .info_sectionContact_item {
        width: fit-content;
        margin: 16px auto;
    }
}
