.gallery_container {
    padding: 75px 0;
    position: relative;
}

.gallery_imgBox {
    margin-top: 44px;
}

.gallery_img_container {
    padding: 0;
    overflow: hidden;
    margin: 8px 0;
}

.gallery_heading {
    margin-bottom: 8px;
    text-align: center;
    position: relative;
    width: fit-content;
    font-weight: 800;
}

.gallery_heading::before {
   content: url(https://html.design/demo/fior/images/tulip.png);
   position: absolute;
   left:-24px;
   top: 50%;
   transform: translateY(-50%);
}

.gallery_img {
    overflow: hidden;
    width: 100%;
    transition: all .3s ;
}

.gallery_img:hover {
    transform: scale(1.2);
}

.gallery_section_numberPage {
    position: absolute;
    top: -40px;
    right: 120px;
    background-image: linear-gradient(0,#DC383D,#E15F3A);
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.gallery_img_container3 {
    height: 24%;
}

.gallery_img_container6 {
    height: 24%;
}

.gallery_img_container8 {
    margin-bottom: 0;
    height: 50%;
}

.img_box2_row {
    height: 100%;
}

/* Responsive */

@media (min-width: 1024px) {
    .gallery_img_container3 {
        margin: 0;
    }
    
    .gallery_img_container6 {
        margin: 0;
    }
    
    .gallery_img_container8 {
        margin-top: 0;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .gallery_container {
        margin-bottom: 65px;
    }
    .img_box2 {
        padding: 0;
    }

    .img_box2_row {
        height: unset;
        padding: 0 25px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */

@media (max-width: 739px) {
    .gallery_section_numberPage {
        right: 24px;
    }
    
    .gallery_img_container6 {
        margin-bottom: 4px;
    }

    .gallery_img_container6 {
        margin: 4px 0;
    }
    
    .gallery_img_container8 {
        margin-top: 4px
    }
}
