.slide_section {
    padding-top : 48px;
    padding-bottom : 48px;
    height: 680px;
    display: grid;
    align-items: center;
    position: relative;
}
.slide_numberBox {
    position: absolute;
    left: 48px;
    top: -32px;
    flex-direction: column;
    width: fit-content;
}

.slide_numberBox_line { 
    border-left: 2px solid rgb(188,188,192);
    height: 324px;
    width: fit-content;
    margin-left: 8px;
}

.slide_detailBox {
    padding: 0;
}

.slide_detailBox_name {
    font-size: 80px;
    color: rgb(225,96,58);
    font-weight: 600;
}

.slide_detailBox_descrip {
    max-width: 524px;
    margin: 40px 0;
}

.slide_button_buy {
    width: 240px;
    height: 40px;
    border-radius: 20px;
}

.slide_button_buy:hover {
    background-color: #fff;
    color: #000;
}

.slideButton__control {
    background-color: rgb(225,96,58);
    width: 48px;
    height: 48px;
    border: none;
    margin: 0 8px;
    border-radius: 50%;
    color: #fff;
}

.slideButton__control:hover {
    background-color: #000;
}

.slideButton__wrap {
    margin-top: 48px;
}

.slide_numberPage {
    position: absolute;
    bottom: -40px;
    right: 120px;
    width: 75px;
    height: 75px;
    background-color: rgb(225,96,58);
    text-align: center;
    line-height: 75px;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.slide_wrapper{
}

